In [1]:
import pandas as pd

In [5]:
data=pd.read_csv("data/feature_clickstream.csv")
data.head()

,fe_1,fe_2,fe_3,fe_4,fe_5,fe_6,fe_7,fe_8,fe_9,fe_10,...,fe_13,fe_14,fe_15,fe_16,fe_17,fe_18,fe_19,fe_20,Customer_ID,snapshot_date
0,63,118,80,121,55,193,111,112,-101,83,...,-16,-81,-126,114,35,85,-73,76,CUS_0x1037,2023-01-01
1,-108,182,123,4,-56,27,25,-6,284,222,...,-14,-96,200,35,130,94,111,75,CUS_0x1069,2023-01-01
2,-13,8,87,166,214,-98,215,152,129,139,...,26,86,171,125,-130,354,17,302,CUS_0x114a,2023-01-01
3,-85,45,200,89,128,54,76,51,61,139,...,172,96,174,163,37,207,180,118,CUS_0x1184,2023-01-01
4,55,120,226,-86,253,97,107,68,103,126,...,76,43,183,159,-26,104,118,184,CUS_0x1297,2023-01-01

In [10]:
val_count=data["Customer_ID"].value_counts()
print(val_count)

Customer_ID
CUS_0x1037    24
CUS_0xa1ce    24
CUS_0xa00f    24
CUS_0xa014    24
CUS_0xa022    24
              ..
CUS_0xa21c    24
CUS_0xa20b    24
CUS_0xa1cc    24
CUS_0xa15a    24
CUS_0xfe4     24
Name: count, Length: 8974, dtype: int64

In [12]:
values=data[data["Customer_ID"]=="CUS_0x1037"]
print(values)

        fe_1  fe_2  fe_3  fe_4  fe_5  fe_6  fe_7  fe_8  fe_9  fe_10  ...  \
0         63   118    80   121    55   193   111   112  -101     83  ...
8974      55    96    74   171   -69  -103    86   178    42    113  ...
17948    232   203   -71    86   243    12    79   122   103    178  ...
26922      9   -29    -8   116   198    68    79    61   113     91  ...
35896    203    75   223    88   188   164    82    18   195     50  ...
44870    145   108    78   -33   212    62   -46   135    -6     96  ...
53844     40    90   231   136   239   273   106   178    90    202  ...
62818      2   128   115   -31   106   144    69   200    16    248  ...
71792    221   226  -112    49   226   209    44   123   244    106  ...
80766    168   176   119   190   151   -17   -17   -46   172     56  ...
89740     63   247   155    46    61   229   229   107   129    395  ...
98714    146   183    61   185   285   169   105   196   173    121  ...
107688   239   140   -24   265     2   -32   147   -38   280    210  ...
116662   114    12  -109   -50   149   148   116   131   -48     45  ...
125636    71   243    89   149   202    56   149   207   232    111  ...
134610    31   156   138   433   136   243    20   202   213    177  ...
143584   197   310   -52   131   167   -47   220    81   277    235  ...
152558    88   137   240   125   256   152   117   122   108    156  ...
161532    -5    47   -44    70   194    -3    57    -1    47    197  ...
170506   211   225    55   221    93    49   240   -22   126    117  ...
179480   161   165   100   146   211    37   119   131   170    202  ...
188454   199   157   -33    43   119   391     4   124   222    317  ...
197428   287   121    23   237    35    88   180    -4    72     48  ...
206402   145   189   109   134   196   -37   101    82   111     24  ...

        fe_13  fe_14  fe_15  fe_16  fe_17  fe_18  fe_19  fe_20  Customer_ID  \
0         -16    -81   -126    114     35     85    -73     76   CUS_0x1037
8974       39    179    161     71    208     -7    129    206   CUS_0x1037
17948     201     37     96     63     98     69    257      3   CUS_0x1037
26922      17    219     89    136    -25    180    109    118   CUS_0x1037
35896       4    -41    184    150    212    139      1     46   CUS_0x1037
44870     -82     79    -72    184    114    281    -45     51   CUS_0x1037
53844      44    134    154    108     29    108    141    260   CUS_0x1037
62818      33    112    104     97    181     11    114    260   CUS_0x1037
71792    -102    225    125     74    189    -64    170     57   CUS_0x1037
80766      16    -53    110    246     29    241     67     25   CUS_0x1037
89740     214    -74    200   -129     79    128     20    230   CUS_0x1037
98714      53     30    -22    153    136    188    123    190   CUS_0x1037
107688    235    140     45    179     61     38     68    171   CUS_0x1037
116662    208    -46    354    111     43     63     84    115   CUS_0x1037
125636    -17    100    115     68     39     87    -74    240   CUS_0x1037
134610    164     96     70    -52    -56     75    162    133   CUS_0x1037
143584     62     73     95    120    150    -23    105     68   CUS_0x1037
152558    100    183    154     19     81    303    266     19   CUS_0x1037
161532     22    167    263    195    -59     54    103     35   CUS_0x1037
170506    101     89     44    172    304    242    119     51   CUS_0x1037
179480     63     79     70    101    210    -90     28    172   CUS_0x1037
188454    107    115    151     11      6    -70   -110     86   CUS_0x1037
197428     85     63    146    -10     44    177   -111    115   CUS_0x1037
206402     65    249    200    185    -83    -18    -76     30   CUS_0x1037

        snapshot_date
0          2023-01-01
8974       2023-02-01
17948      2023-03-01
26922      2023-04-01
35896      2023-05-01
44870      2023-06-01
53844      2023-07-01
62818      2023-08-01
71792      2023-09-01
80766      2023-10-01
89740      2023-11-01
98714      2023-12-01
107688     2024-01-01
116662     2024-02-01
125636     2024-03-01
134610     2024-04-01
143584     2024-05-01
152558     2024-06-01
161532     2024-07-01
170506     2024-08-01
179480     2024-09-01
188454     2024-10-01
197428     2024-11-01
206402     2024-12-01

[24 rows x 22 columns]

In [15]:
data_1=pd.read_csv("data/features_attributes.csv")

print(data_1.shape)
val_count=data_1["Customer_ID"].value_counts()

print(val_count)

(12500, 6)
Customer_ID
CUS_0x1000    1
CUS_0x8cfe    1
CUS_0x8cbe    1
CUS_0x8cc1    1
CUS_0x8cc5    1
             ..
CUS_0x4f3b    1
CUS_0x4f3e    1
CUS_0x4f41    1
CUS_0x4f43    1
CUS_0xffd     1
Name: count, Length: 12500, dtype: int64

In [18]:
data_2=pd.read_csv("data/features_financials.csv")
merge_result=pd.merge(data_2,data_1,on="Customer_ID",how="outer")
print(merge_result.head())

  Customer_ID       Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  \
0  CUS_0x1000            30625.94            2706.161667                  6
1  CUS_0x1009           52312.68_            4250.390000                  6
2  CUS_0x100b  113781.38999999998            9549.782500                  1
3  CUS_0x1011            58918.47            5208.872500                  3
4  CUS_0x1013            98620.98            7962.415000                  3

   Num_Credit_Card  Interest_Rate Num_of_Loan  \
0                5             27           2
1                5             17           4
2                4              1           0
3                3             17           3
4                3              6           3

                                        Type_of_Loan  Delay_from_due_date  \
0          Credit-Builder Loan, and Home Equity Loan                   57
1  Not Specified, Home Equity Loan, Credit-Builde...                    5
2                                                NaN                   14
3  Student Loan, Credit-Builder Loan, and Debt Co...                   27
4  Student Loan, Debt Consolidation Loan, and Per...                   12

  Num_of_Delayed_Payment  ... Total_EMI_per_month  Amount_invested_monthly  \
0                     26  ...           42.941090        77.31427572208112
1                     18  ...          108.366467        58.66019164829086
2                      8  ...            0.000000        617.0792665202719
3                     13  ...          123.434939       383.35084463651407
4                      9  ...          228.018084        332.3337079767732

                  Payment_Behaviour     Monthly_Balance  snapshot_date_x  \
0  High_spent_Medium_value_payments  400.36080052211616       2023-05-01
1  High_spent_Medium_value_payments  508.01234122645366       2025-01-01
2   High_spent_Small_value_payments   597.8989834797281       2024-03-01
3   Low_spent_Medium_value_payments   294.1014665671429       2023-11-01
4  High_spent_Medium_value_payments   485.8897083704929       2023-12-01

             Name Age          SSN     Occupation snapshot_date_y
0  Alistair Barrf  18  913-74-1218         Lawyer      2023-05-01
1          Arunah  26  063-67-6938       Mechanic      2025-01-01
2        Shirboni  19    #F%$D@*&8  Media_Manager      2024-03-01
3       Schneyerh  44  793-05-8223         Doctor      2023-11-01
4        Cameront  44  930-49-9615       Mechanic      2023-12-01

[5 rows x 27 columns]

In [19]:
merge_result.to_csv('test_data/attri_fina.csv',index=False)

In [20]:
rows,cols=merge_result.shape
merge_result.isnull().sum()

Customer_ID                    0
Annual_Income                  0
Monthly_Inhand_Salary          0
Num_Bank_Accounts              0
Num_Credit_Card                0
Interest_Rate                  0
Num_of_Loan                    0
Type_of_Loan                1426
Delay_from_due_date            0
Num_of_Delayed_Payment         0
Changed_Credit_Limit           0
Num_Credit_Inquiries           0
Credit_Mix                     0
Outstanding_Debt               0
Credit_Utilization_Ratio       0
Credit_History_Age             0
Payment_of_Min_Amount          0
Total_EMI_per_month            0
Amount_invested_monthly        0
Payment_Behaviour              0
Monthly_Balance                0
snapshot_date_x                0
Name                           0
Age                            0
SSN                            0
Occupation                     0
snapshot_date_y                0
dtype: int64

In [23]:
merge_result["Type_of_Loan"]=merge_result["Type_of_Loan"].fillna("unknown")

In [24]:
merge_result.isnull().sum()

Customer_ID                 0
Annual_Income               0
Monthly_Inhand_Salary       0
Num_Bank_Accounts           0
Num_Credit_Card             0
Interest_Rate               0
Num_of_Loan                 0
Type_of_Loan                0
Delay_from_due_date         0
Num_of_Delayed_Payment      0
Changed_Credit_Limit        0
Num_Credit_Inquiries        0
Credit_Mix                  0
Outstanding_Debt            0
Credit_Utilization_Ratio    0
Credit_History_Age          0
Payment_of_Min_Amount       0
Total_EMI_per_month         0
Amount_invested_monthly     0
Payment_Behaviour           0
Monthly_Balance             0
snapshot_date_x             0
Name                        0
Age                         0
SSN                         0
Occupation                  0
snapshot_date_y             0
dtype: int64